<form [formGroup]="form" (ngSubmit)="attemptChangePassword()">
  <mat-form-field class="form-control">
    <input 
      matInput
      type="email"
      placeholder="Email Address"
      formControlName="email"
      required>
  </mat-form-field>
  <mat-form-field class="form-control">
    <input 
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
      required>
  </mat-form-field>
  <mat-form-field class="form-control">
    <input 
      matInput
      type="password"
      placeholder="Confirm"
      formControlName="password_confirmation"
      required>
  </mat-form-field>
  <button 
    mat-button
    type="submit"
    [disabled]="!form.valid">Change Password</button>
</form>